*{
    box-sizing: border-box;
}


body{
    margin: 0;
    background-color: #0C1729;
    color: #8DA1C2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    /* padding: 3em; */
}

img{
    max-width: 100%;
    display: block;
    /* margin-bottom: 1em; */
}

/* ==============TYPOGRAPHY=============== */

h1{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}


.color-accent{
    color: #26F8F7;
    font-weight: 500;
}

/* ==============LAYOUT=============== */



.container{
    width: 90%;
    max-width: 350px;
    background-color: #15273F;
    padding: 1em;
    margin: 1.5em auto;
    border-radius: 10px;
}

.container-image{
    margin-bottom: 2em;
    border-radius: 10px;
}


.container-equilibrium{
    border-bottom: 1px solid #8DA1C2;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.erithrium{
    display: flex;
    justify-content: space-between;
}



.img-etherium,
.img-reminder {
    max-width: 20%;
    height: 20px;
    object-fit: contain;
    margin-right: .5em;
}

.erithrium-info,
.reminder-info,
.avatar-info {
    display: flex;
    align-items: center;
}

.img-avatar{
    max-width: 50%;
    height: 50px;
    object-fit: contain;
    margin-right: 1em;
}


.avatar-name{
    color: #fff;
    font-weight: 600;
}

@media (min-width: 550px){

    body{
        /* padding: 20em; */
    }

    
    .container{
        width: 50%;
        min-height: 100vh;
        max-width: 400px;
        /* display: flex;
        flex-direction: column;
        align-content: flex-start; */
             
    }

    
}
